@{
    ViewData["Title"]="Index";
    var userId = ViewBag.UserId;
    var name = ViewBag.name;
    var age = ViewBag.age; 
}

<h1>ViewBag</h1>

User Id : @userId <br>
Name : @name <br>
Age : @age <br>
