@{
    ViewData["Title"] = "Privacy Policy";
}
<h1>@ViewData["Title"]</h1>


<h1 style="color:blue">

    @ViewData["name"]
</h1>
<p>Use this page to detail your site's privacy policy.</p>

<label>Total Employees : </label>@ViewBag.TotalEmployee

<ol>
        @foreach (var emp in ViewBag.Employee)
        {
            <li>
                @emp
            </li>
            
        }
    </ol>
